.navigation{
    background-color: rgb(36, 36, 36);
    height: 70px;
    
}
.navText{
    font-family: 'Bebas Neue', cursive;
    padding-left: 25px;
    color: rgb(194, 194, 194);
    font-size: 23px;
    padding-top: 20px;
}
.menu{
    text-align: right;
    padding-right: 70px;
    padding-top: 17px;
    display: flex;
}
.pervoe{
    height: 3300px;
    background-color: rgb(56, 56, 56);
}
.al{
    padding-top: 20px;
    padding-left: 30px;
}
.birthdayText{
    font-family: 'Bonheur Royale', cursive;
    font-size: 60px;
    color: rgb(196, 196, 196);
    padding-left: 60px;
}
.mainText{
    font-family: 'Poiret One', cursive;
    font-size: 23px;
    color: rgb(199, 199, 199);
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 30px;
}
.title{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: rgb(199, 199, 199);
    text-align: center;
    padding-top: 45px;
}
.citate{
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    color: rgb(199, 199, 199);
    text-align: end;
    padding-right: 30px;
    padding-top: 10px;
}
#dropdownMenuButton2{
box-shadow: none;
}
.drop{
    padding-left: 150px;
    padding-top: 10px;
  
}
.dropdown-menu{
    border-radius: 0px;
    background-color: rgb(36, 36, 36);
    width: 250px;
}
.arrow{
    position: fixed;
    padding-left: 330px;
}

